.row {
    /* margin-left: 20px; */
    color: #fff;
}

.posters {
    display: flex;
     padding: 15px 20px 10px; 
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    /* max-height: 150px; 
       margin-right: 2px;  
       padding: 5px; */
    margin: 5px 5px 5px 7px;
    border: 1px solid #4d4242;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 10px;
}

.poster:hover{
    border: 3px solid antiquewhite;
    padding: 0;
    transform: scale(1.1);
}
.portrait{
    width:auto;
    height: 350px;
    object-fit: cover;
}
.large{
    contain-intrinsic-height: 700%;
    width: auto;
}